@model Final.Models.Entity.City

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Ad1000/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>City Details</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <img src="@(string.IsNullOrWhiteSpace(Model.Image)?"":Href("~/Template/Media/"+Model.Image))" style="width:400px;height:300px" id="news-image" />
                </dt>
                <dd></dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
        <p>
            <a class="btn btn-success" style="margin:5px;" href="@Url.Action("Edit","Cities" , new { id = Model.Id })"> Edit</a>
            <a class="btn btn-primary" style="margin:5px;" href="@Url.Action("Index","Cities")"> Back to Cities</a>
        </p>

    </div>
</div>
