@model IEnumerable<Final.Models.Entity.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Ad1000/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Cities</h2>

        <a class="btn btn-info" style="margin:5px;" href="@Url.Action("Create","Cities")"> Add City</a>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@(string.IsNullOrWhiteSpace(item.Image)?"":Href("~/Template/Media/"+item.Image))" style="width:400px;height:300px" id="news-image" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-success" href="@Url.Action("Edit","Cities",  new { id = item.Id })"> <i class="fas fa-pen"></i></a>
                        <a class="btn btn-info" href="@Url.Action("Details","Cities",  new { id = item.Id })"> <i class="fas fa-info-circle"></i></a>
                        <a class="btn btn-danger" href="@Url.Action("Delete","Cities",  new { id = item.Id })"> <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
