@model IEnumerable<Final.Models.Entity.HomeInfo>

@foreach (var item in Model)
{
    <div class="col-lg-12 col-md-12 featuredHouse">
        <div class="featured-image">
            <a href="@Url.Action("SingleListing","Home", routeValues: new { id = item.Id })" id="photo-link">
                <img src="@(string.IsNullOrWhiteSpace(item.BackgroundImage)?"":Href("~/Template/Media/"+item.BackgroundImage))">
                @if (item.SaleTypeId == 1)
                {
                    <div class="d-flex align-items-start">
                        <span class="for-sale"> @item.SaleType.Name</span>
                    </div>
                }
                else if (item.SaleTypeId == 2)
                {
                    <div class="d-flex align-items-start">
                        <span class="for-rent"> @item.SaleType.Name</span>
                    </div>
                }
            </a>
        </div>
        <div class="text-center featured-title">
            <h5>@item.Name.</h5>
            <p>
                <i class="fa fa-map-marker"></i> @item.City.Name
            </p>
        </div>
        <a class="room-price">$@item.Price</a>
    </div>
}
